<ion-header>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/patient.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Patient App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Starting point for Ionic 4 Application with Authentication.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button  color="tertiary" expand="full" (click)="register()">Register</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>